body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #222222;
}

.flexible-container{
    display: flex;
}

.logo h2{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    color: grey;
}

.menu a{
    color: grey;
    font-size: 20px;
    margin-top: 24px;
    text-decoration: none;
    display: inline-block;
    padding-right: 20px;
}

.slider-area{
    background-color: #91b843;
}
.slider-area h1{
    margin-top: 0px;
}

.content{
    padding: 90px;
    color: white;
}

.content a{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(#9ACD32, #555c49);
    padding: 10px 40px;
    border-radius: 5px;
}